DirectoryIndex controller/xamp.php
Options -Indexes

RewriteEngine  On
RewriteCond    %{REQUEST_FILENAME}     !-d
RewriteCond    %{REQUEST_FILENAME}     !-s
RewriteCond    %{REQUEST_FILENAME}     !-l

# If value of $request takes from $_SERVER['REQUEST_URI'], then you can use this rule
RewriteRule    ^.+   controller/xamp.php [L,QSA]

# Also you can set value of $request by $_GET['request']
# RewriteRule    ^([a-z0-9\.\-\_^\/]+)/   /controller/xamp.php?request=/$1/ [L,QSA]
# Please, see controller/config.php for information about $request setup

